#vortmaro-reader-word-definition {
    z-index: 65535;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    border: 2.5px solid grey;
    padding: 0.4em;
    background-color: #FFF;
    color: #000;
    display: none;
}

#vortmaro-reader-word-definition {
    font-size: 12pt;
}

#vortmaro-reader-word-definition p {
    margin-top: 0.3em;
    margin-bottom: 0;
}

#vortmaro-reader-word-definition p:first-child {
    margin-top: 0;
}

#vortmaro-reader-word-definition ol, #vortmaro-reader-word-definition ul {
    list-style-image: none;
    list-style-position: outside;
}

#vortmaro-reader-word-definition ol {
    margin-top: 0.4em;
    margin-bottom: 0;
    padding-left: 1.8em;
    list-style-type: decimal;
}

#vortmaro-reader-word-definition ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

#vortmaro-reader-word-definition li {
    list-style-image: none;
    list-style-position: outside;
    line-height: normal;
    padding: 0;
}

#vortmaro-reader-word-definition img {
    max-height: 150px;
}

#vortmaro-reader-word-definition .popover-close {
    cursor: pointer;
    float: right;
    font-size: 150%;
}

#vortmaro-word-error-report textarea {
    width: calc(100% - 8px);
    height: 4em;
}

#vortmaro-word-error-report button {
    padding: 1px 4px;
    width: 100%;
}
