#vortmaro-reader-word-definition {
    z-index: 65535;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    border: 2.5px solid grey;
    padding: 0.4em;
    background-color: #FFF;
    color: #000;
    display: none;
}

#vortmaro-reader-word-definition {
    font-size: 12pt;
}

#vortmaro-reader-word-definition p {
    margin-top: 0.3em;
    margin-bottom: 0;
}

#vortmaro-reader-word-definition p:first-child {
    margin-top: 0;
}

#vortmaro-reader-word-definition ol, #vortmaro-reader-word-definition ul {
    list-style-image: none;
    list-style-position: outside;
}

#vortmaro-reader-word-definition ol {
    margin-top: 0.4em;
    margin-bottom: 0;
    padding-left: 1.8em;
    list-style-type: decimal;
}

#vortmaro-reader-word-definition ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

#vortmaro-reader-word-definition li {
    list-style-image: none;
    list-style-position: outside;
    line-height: normal;
    padding: 0;
}

#vortmaro-reader-word-definition > img {
    max-height: 150px;
    margin-top: 0.3em;
    border: 1px solid #E8E8E8;
}

#vortmaro-reader-word-definition img.dict-icon {
    height: 24px;
    vertical-align: bottom;
}

#vortmaro-reader-word-definition .source-dict-lookup {
    text-decoration: none;
    color: #555;
}
#vortmaro-reader-word-definition .source-dict-lookup:visited {
    color: #555;
}
#vortmaro-reader-word-definition .source-dict-lookup small {
    margin-left: -4px;
}

#vortmaro-reader-word-definition .popover-close {
    cursor: pointer;
    float: right;
    font-size: 150%;
}

#vortmaro-reader-word-definition .flashcard-added-msg {
    border: 1px solid rgb(3, 200, 3);
    background-color: rgb(240, 252, 240);
    display: inline-block;
    padding: 2px 6px;
    margin-top: 2px;
    border-radius: 7px;
}

#vortmaro-word-error-report textarea {
    width: calc(100% - 8px);
    height: 4em;
}

#vortmaro-word-error-report button {
    padding: 1px 4px;
    width: 100%;
}
